<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_DATABASE" value="testing"/>
        <!-- <env name="DB_DATABASE" value=":memory:"/> -->
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="LARALAMMA_SEARCH_SOURCE" value="mock"/>
        <env name="BRAVE_API_TOKEN" value="FOOBAR"/>
        <!-- this is a fake token! -->
        <env name="OPENAI_API_KEY" value="sk-m8ox9NVgboSLRCr5VA5RT3BXbkFJzP1QGUedbQxGmmuAQWRT"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="OPENAI_MOCK" value="true"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="CLAUDE_API_KEY" value="sk-ant-api03-Jvzj2m6ABKuC2o11jUdrT47xqvUt5Fa6RKXSAqkxGkV7hUJnQQpHQCyba4SpED9RUXauz4Zp32Ujwp1MnV9O-g-1234567890"/>
    </php>
</phpunit>
